
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: #587780;
  max-height: 100vh;
  overflow: hidden;
}

body {
  color: #587780;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.playernameinput {
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #396673;
  font-size: 9vh;
  padding-bottom: 2vh;

}

.container {
  background: lightblue;
  padding: 5vh;
  border-radius: 10vh;
  height: 96vh;
  width: 62vh;
  margin: 2vh;
  overflow: hidden;
}

.style1{
  display: flex;
  justify-content: space-around;
}

.game-grid {
  display: grid;
  /* display: none; */
  background: #407280;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2vh;
  margin: 2vh;
  overflow: visible;
  margin-top: 2vh;

}

.game-cell {
  position: relative;
  display: flex;
  height:15vh;
  width: 15vh;
  background: lightblue;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 16vh;
  position: relative;
  overflow: visible;
}

.player1div {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

#player1 {
  background-color: #bff1ff;
  margin: 1vh;
  padding: 1.5vh;
  border-radius: 5vh;
  border-style: solid;
  font-size: 3vh;
  margin-bottom: 1.5vh;
  margin-left: 3vh;
}

#myBtnP1 {
  background-color: #bff1ff;
  border-radius: 7vh;
  border-style: solid;
  font-size: 2vh;
  font-weight: bold;
  color: #314347;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
}

.player2div {
  display: flex;
}

#player2 {
  background-color: #bff1ff;
  margin: 1vh;
  padding: 1.5vh;
  border-radius: 5vh;
  border-style: solid;
  font-size: 3vh;
  margin-top: 1.5vh;
  margin-left: 3vh;
}

#myBtnP2 {
  background-color: #bff1ff;
  border-radius: 6vh;
  border-style: solid;
  font-size: 2vh;
  font-weight: bold;
  color: #314347;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-top: 1vh;
  margin-left: 1vh;
}

.score {
  display: inline-block;
  font-size: 4vh;
}

.scoretext {
  display: inline-block;
  color: red;
  font-size: 3vh;
}

.p1score.scoretext {
}


.player1divafter {
  margin-right: 3vh;
  margin-bottom: 8vh;
}

.player2divafter {
  float: right;
  text-align: right;
}

.p2score.scoretext {
text-align: right;
align-self: flex-end;
}

input:focus {
  outline:none;
}

button:focus {
  outline:none;
}

#celebration {
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0);
}

#fireworks1 {
  margin-top: 5vh;
  height: 100vh;
}

img {
  z-index: 1;
  height: 50vh;
  display: flex;
  position: absolute;

}

.celebrationimage {
  display: none;
}

/* #resetgame {
position: absolute;
width: 100vw;
height: 100vh;
display: none;
overflow: hidden;
} */
